html {
    background-color:lightblue; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Staatliches', cursive;
}




body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-style: italic;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
.example{
    color: blueviolet;
}