html {
    background-color:rgb(231, 236, 238); 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Staatliches', cursive;
}




body {
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100px;
    width: 1500px;
    background-color: powderblue;
  }

  h2 { 
    color: rgb(43, 131, 226);
    text-align:left;
    font-family:"Lucida Console", "Courier New", monospace;
    
  }

  h3{ color: rgb(43, 131, 226);
    text-align:left;
    font-family:"Lucida Console", "Courier New", monospace;}

  h4{ color: rgb(43, 131, 226);
    text-align:left;
    font-family:"Lucida Console", "Courier New", monospace;}


  p {
    font-family: verdana;
    font-size: 20px;
  }
.example{
    color: rgb(43, 131, 226);
    font-family: "Lucida Console", "Courier New", monospace;