html {
  background-color: rgb(255, 255, 255); 
  font-family: 'verdana'; 
}

*{
  margin:0px;
}


.body {
    background-color: rgb(255, 255, 255);
    border: 10px;
  }
  
  
  .heading {
    color: rgb(43, 131, 226);
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.centered{ 

  margin: auto;
  width: 50%;
}
  

  .Title{ 
     padding:50px;
  }

  
.BodyText{ 
text-align: center;
padding-top: 0px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
color: rgb(43, 131, 226)

}




.logoToToToo {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px; /* Adjust the width of the image */
  height: auto; /* Maintain aspect ratio */
}


.button {
  display:block;
  padding: 10px 20px;
  width: 200px;
  height: auto;
  background-color: #007bff; /* Blue color */
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Set container height to full viewport height */
  border: 0; /* or border: 0; */
}

/* Style the link when hovered */
.button:hover {
  background-color: #0056b3; /* Darker blue color */
}


/*h5{ 
}color: rgb(43, 131, 226);
    text-align:center;
    font-family:"Lucida Console", "Courier New", monospace;
    height: 100px;
    width: 1500px;


/*!/* width: 200px;
height: 200px; */
/* z-index:  */
/*!display: block;
margin-right: auto;
margin-left: auto;
margin-top: 0px;








/*!.Heading{ 
  text-align: center;
  color: rgb(43, 131, 226);
  padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;

}